.carousel-caption{
    text-align: start;
    bottom: 200px;
    margin-right: 200px;
}
.btn1{
    background-color: darkmagenta;
    border-radius: 30px;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
}
.btn1:hover{
    background-color: rgba(237, 142, 237, 0.292);
}
.btn2{
    
    background-color:magenta;
    border-radius: 0px;
    color: white;
    border: none;
    width: 10%;
    height: 60px;

}
input{
    border: none;
   margin-left: 5px;
}
.modal-footer{
    width: 20%;
    margin-left: 200px;
}
@media(max-width:974px)
    {
        .carousel-caption{
            text-align: start;
        margin-bottom: -100px;
        font-size: 15px;

        }
        h1{
            font-size: 20px;
        }
        .btn1{
            background-color: darkmagenta;
            border-radius: 30px;
            color: white;
            border: none;
            width: 150px;
            height: 35px;
        }
    }
    @media(max-width:771px)
    {
        .carousel-caption{
            text-align: start;
        margin-bottom: -200px;
        font-size: 10px;

    }
    h1{
        font-size: 20px;
    }
    .btn2{
    
        background-color:magenta;
        border-radius: 0px;
        color: white;
        border: none;
        width: 15%;
        height: 40px;
    
     
    }
    @media(max-width:572px)
    {
        .carousel-caption{
            text-align: start;
        margin-bottom: -200px;
        font-size: 9px;

    }
    h1{
        font-size: 15px;
    }
    .btn1{
        background-color: darkmagenta;
        border-radius: 30px;
        color: white;
        border: none;
        width: 150px;
        height: 25px;
    }
    
    @media(max-width:509px)
    {
        .carousel-caption{
            text-align: start;
        margin-bottom: -199px;
        font-size: 8px;

    }
    h1{
        font-size: 10px;
        
    }
    }
    @media(max-width:461px)
    {
        .carousel-caption{
            text-align: start;
        margin-bottom: -199px;
        font-size: 6px;

    }
    h1{
        font-size: 8px;
        
    }
    }
    .btn2{
    
        background-color:magenta;
        border-radius: 0px;
        color: white;
        border: none;
        width: 20%;
        height: 40px;
    
     
    }
    @media(max-width:409px)
    {
        .carousel-caption{
            text-align: start;
        margin-bottom: -199px;
        font-size: 4px;

    }
    h1{
        font-size: 6px;
        
    }
    }
    .btn2{
    
        background-color:magenta;
        border-radius: 0px;
        color: white;
        border: none;
        width: 20%;
        height: 25px;
    
     
    }
    .btn1{
        background-color: darkmagenta;
        border-radius: 30px;
        color: white;
        border: none;
        width: 100px;
        height: 20px;
    }
    
    }
    
   


    }




    